[submodule "ogg"]
	path = ogg
	url = https://github.com/xiph/ogg
[submodule "alac"]
	path = alac
	url = https://github.com/philippe44/alac
[submodule "flac"]
	path = flac
	url = https://github.com/philippe44/flac
[submodule "shine"]
	path = shine
	url = https://github.com/philippe44/shine
[submodule "soxr"]
	path = soxr
	url = https://github.com/philippe44/soxr
[submodule "mad"]
	path = mad
	url = https://github.com/philippe44/mad
